name: Rust

on:
  push:
    branches: [ master, "lnx-v0.10.0" ]
  pull_request:
    branches: [ master, "lnx-v0.10.0" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]

    steps:
    - uses: actions/checkout@v3

    - name: Install stable
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        profile: minimal
        override: true

    - uses: taiki-e/install-action@nextest
    - uses: Swatinem/rust-cache@v2

    - name: Run tests
      run: cargo +stable nextest run --features ${{ matrix.features.flags }} --verbose --workspace
