name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build main
      run: cargo build --verbose
    - name: Run main tests
      run: cargo test --verbose          
    - name: Run dir change
      run: cd lnxcli 
    - name: Build cli
      run: cargo build --verbose
    - name: Run cli tests
      run: cargo test --verbose
